.login-signup-page {
    display: flex;
    flex-direction: row;

    .left-img {
        width: 600;
        margin-top: 10rem;
        margin-left: 10rem;
        background-image: url("home-phones-2x.png");
    }

    

}

.slideshow-image {
    width: 500px;
    height: auto;
    // position: absolute;
    // top: 0;
    // left: 0;
    z-index: 100;
    object-fit: cover;
    opacity: 1; /* Fully visible by default */
    transition: opacity 1s ease-in-out; /* Fade effect */
    
}
