.profile-user-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* centers children horizontally */
    justify-content: flex-start; /* centers children vertically */
    height: 100vh; /* takes full viewport height */
    padding: 20px; /* optional: add some spacing around */
    font-size: 20px;
}


