.actions-btn {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-around;

    .actions-btn-part1 {
        margin-left: -0.5rem;
    }

    .actions-btn-part2 {
        .save {
            img {
                margin-left: 0.6875rem;
            }
        }
    }

    button {
        background-color: transparent;
        cursor: pointer;
        border: none;
        width: 2rem;
        margin-top: 0.3rem;
    }

    .save {
        margin-left: 21rem;
    }
}