.app-footer{
    color: #D2D2D2;
    font-family: $font-family1;
    font-size: 0.75rem;
    font-weight: 400;
    .footer-content{
        color:#D2D2D2;
        margin-top: 25rem;
 
    }
    a{
        color:#D2D2D2;
        text-decoration: none;

    }

    span{
        font-size: 8px;
    }
    p{
        font-size: 0.75rem;

    }
}