.comment-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .data-comment {
        display: flex;
        justify-content: space-between;
    }

  .profile-comment-img {
        width: 32px;
        height: 32px;
    }

    .three-dot {
        display: none;
    }

    &:hover {
        .three-dot {
            display: inline-block;
        }
    }
}

.comment-details {
    display: flex;
    align-items: flex-start;

    .textual {
        margin-left: 1rem;
        .textual-1{
            display: flex;
            gap:12px;
            h4{
                font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                font-weight: 600;
                font-size: 22px;
            }
            .comment-txt{
                font-weight: 400;
            }
        }
        .textual-2{
            display: flex;
            .date-time{
                margin-right: 7px;
            }
            .likes-on-comment{
                margin-right:7px;
            }
            p{
                // font-size: 18px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            }
        }
        .textual-1 h4, .textual-2 h4 {
            margin: 0;
            padding: 0;
        }
    
 
    }

  .like-img-red{
        width: 1.375rem;
    }
}