.comment-details {
        .data-comment {
            display: flex;
            justify-content: space-between;
        }
        img{
          width: 20px;
        }
        .three-dot{
            display: none;
        }
        &:hover{
            .three-dot{
                display: inline-block;
            }
        }
    }


