.upload-preview {
    display: flex;
    justify-content: center;


    button {
        font-family: $font-family1;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        color: #FFFFFF;
        background-color: #1877F2;
        position: relative;
        text-align: center;
        padding: 0.475rem 1rem;
        border-radius: 0.5rem;
    }

    // &.default {
    //     background-color: #1877F2;

    // }

    // &.alternative {
    //     background-color: transparent;
    // }

}