.menu-upload-user-photo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;


    .menu {
        background-color: #ffffff;
        padding: 1.25rem;
        border-radius: 0.625rem;
        box-shadow: 0em 0em 0.9375rem rgba(0, 0, 0, 0.2);
        width: 18.75rem;
        text-align: center;
    }

    button.upload-photo,
    button.remove-photo {
        display: block;
        margin: 0.625rem auto;
        padding: 0.625rem 1.25rem;
        border: none;
        border-radius: 0.3125rem;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button.upload-photo {
        color: #007bff;
        font-weight: bold;
    }

    button.remove-photo {
        color: #dc3545;
        font-weight: bold;

    }


 

}