.container-nav-side {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 15.25rem;
    .btn-container {
       
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 100;
        margin-top:3.0625rem;
        height: 100%;
        justify-content: space-between;
        width: 12.9rem;
    
      
     
        &::after {
            content: "";
            background: rgb(231, 231, 231);
            width: 0.062rem;
            position: absolute;
            height: 100vh;
            margin-top: -80px;
            right: 0;
        }
        .item{
            width:100%;
            padding: 1.5625rem 0.75rem 1rem;
            align-items: center;
        }
        .first{
            width: 15.3rem;
        }
        .item-first{
           padding-top: 0.75rem;
        }
   


        button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            font-family: $font-family1;
            line-height: 1.25em;
            text-align: start;
            letter-spacing: normal;
            transition: background-color 0.3s, color 0.3s;
        }
    
        .profile-icon-img {
            width: 1.5em;
            border-radius: 50%;

        }

        button:hover {
            background: #f6f6f6;
            color: #000;
        }

        img,
        i {
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.8rem;
            margin-left: 0.5rem;


        }

        span {
            // margin-left: 0.9375rem;
            margin-left: -0.063rem;

        }

        .home-span {
            font-weight: bold;
        }

        .modal {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            justify-content: center;
            align-items: center;

            .modal-content {
                width: 43.75rem;
                height: 43.75rem;
                background-color: #ffffff;
                border-radius: 0.625rem;
                position: relative;

                .inner-container {
                    display: block;
                    border-top: 0.5px solid#595959;
                    height: 100%;
                    width: 100%;

                    .icon-upload-background {
                        margin-top: 16.0625rem;


                    }

                }

                h3 {
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 1rem;
                    text-align: center;

                }

                .icon-upload-background {
                    width: 6rem;
                    height: 4.8125rem;
                    display: block;
                    margin-inline: auto;


                }

                width: 43.75rem;
                height: 43.75rem;

                .close-button {
                    position: absolute;
                    top: 0.625rem;
                    right: 0.625rem;
                    cursor: pointer;
                }

            }
        }


        .item {
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;

        }


        .item-more {
            margin-top: 2.375rem;
            width: 15.3rem;
        }
        .item-down{
            margin-bottom: -1.875rem;
            width:15.3rem;
        }
       



    }


    .logo {
        width: 6.4374em;
        height: 1.875em;
        padding-top: 2rem;
        img{
            margin-left: 1rem;
        }


    }
}