.pst-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    border-radius: 0.5rem;
    width: 57rem;
    height: 50rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);


    .cross-icon {
        display: block;
        background-color: black;
        position: absolute;
        left: 1272px;
        right: 0px;
        top: 0px;
        cursor: pointer;
    }

    .img-side-details {
        display: block;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        height: 100%;
        width: 100%;



        .details-img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .header-container-details-modal {
        grid-column: 2;

        .details-subject {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            border-bottom: 0.8px solid rgb(217, 216, 216);

            .first {
                display: flex;
                flex-direction: row;
                

                .profile-details-img {
                    width: 2rem;
                    height: 2rem;
                    cursor: pointer;
                    object-fit: cover;
                    border-radius: 50%;
                    margin-bottom: 1rem;
                    margin-left: 0.55rem;
                }
                .three-dot-icon{
                    color:black;
                    cursor: pointer;
                }

                h4 {
                    margin-left: 0.4375rem;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    font-size: 0.875rem;
                    font-weight: 600;

                }

            }
        }
        .all{
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

    }

    .body-container-details-modal {
        grid-column: 2;
        grid-row: 2;

        .first {
            display: flex;
            flex-direction: row;

            .profile-details-img {
                width: 2rem;
                height: 2rem;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 1rem;
                margin-left: 0.77rem;
                grid-row: 2/3;
                grid-column: 2/3;
            }
        }
        .pst-by{
            font-weight: 600;
            font-size: 0.875rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }
        h4{
            font-weight: 400;
            font-size: 0.875rem;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

        }
        .timee{
            margin-top: -18px;
            margin-left: 44px;
            font-size: 12px;
            font-weight: 400;
            font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            color:rgb(115,115,115);


        }

    }





}