.pst-Preview {
    width: 29.375rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: #000000;
    font-style: normal;
    margin-inline: auto;
    font-weight: normal;
    margin-top: 1.375rem;

    .info-start {
        display: flex;
        justify-content: space-between;

        .info-start-content {
            display: flex;
            margin-left: -0.125rem;
        }

        .profile-prev {
            width: 3rem;
            border-radius: 50%;
            margin-bottom: 1rem;
            margin-right: 0.8125rem;
        }

        h2 {
            font-weight: normal;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        }

        .three-dot-icon {
            margin-left: 12rem;
        }

        .timeWhenUpload {
            margin-left: 0.5rem;
            color: rgb(154, 152, 152);
            font-size: 0.875rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        }

    }

    .description {
        margin: 0.125rem;
        // text-align: inherit;
        font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        font-size: 0.875rem;
        color: rgb(0, 0, 0);
        font-weight: normal;

        span {
            color: rgb(38, 38, 38);
            font-weight: 600;
            font-size: .875rem;

        }

        .newComment {
            h4 {
                margin-bottom: 0.25rem; /* Adjust this as needed to reduce the space below the username */
                /* Other styles if needed */
            }
        
            /* Assuming newComment is a paragraph or div. If it's another element, adjust accordingly. */
            p, div {
                margin-top: 0; /* Removes space above the comment text */
                /* Other styles if needed */
            }
        }
        

    }

    .count-likes {
        margin: 0.1875rem;
        text-align: inherit;
        font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        font-size: 0.875rem;
        color: rgb(0, 0, 0);
        font-weight: normal;

    }


    .actions-btn {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        justify-content: space-around;

        .actions-btn-part1 {
            margin-left: -0.5rem;
        }

        .actions-btn-part2 {
            .save {
                img {
                    margin-left: 0.6875rem;
                }
            }
        }

        button {
            background-color: transparent;
            cursor: pointer;
            border: none;
            width: 2rem;
            margin-top: 0.3rem;
        }

        .save {
            margin-left: 21rem;
        }
    }

    .comment-text-area {
        .comment-input-container {
            display: flex;
            justify-content: space-between;
            font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            font-size: 0.875rem;
            color: rgb(0, 0, 0);
            font-weight: normal;

            .emoji-picker-container {
                position: absolute;
                top: 100%;
                right: 0;
            }

        }

        .view-all-comments {
            padding: 0;
            font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
            font-size: 0.875rem;
            color: rgb(115, 115, 115);
            font-weight: 400;
            cursor: pointer;

        }

        .empjiPostbtn {
            margin-left: 11rem;

            .emjoi-btn {
                width: 1rem;
                margin-right: -0.3125rem;
            }

            .post-btn {
                font-weight: 600;
                font-size: .875rem;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                cursor: pointer;
                color: rgb(0, 149, 246);

            }

        }




    }

}