.user-upper-part {
    display: flex;

    .internal-user-upper-part {
        display: flex;


        .user-button {
            margin-right: 70px;

            img {
                width: 150px;
                height: 150px;

            }

        }

        .info-container {
            display: flex;
            flex-direction: column;

            .info {
                margin-right: -48px;

                .edit-profile {

                    background-color: #EFEFEF;
                    font-weight: 600;
                    text-align: center;
                    font-size: .875rem;
                    margin-right: 12px;


                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                }
                .other-user{
                    display: flex;
                    gap: 10px;
                }

                .view-archive {
                    background-color: #EFEFEF;
                    font-weight: 600;
                    text-align: center;
                    font-size: .875rem;

                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                }
                .follow-button{
                    background-color: rgb(0, 149, 246);
                    font-weight: 600;
                    text-align: center;
                    font-size: .875rem;
                    color:#EFEFEF;
                    border-radius: 8px;
                    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    width: 82px;
                    height: 32px;
                }

                .message{
                    background-color: #e8e7e7;
                    border-radius: 8px;
                    color:black;
                    font-weight: 600;
                    text-align: center;
                    justify-content: center;
                    font-size: .875rem;
                    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                    width: 90px;
                    height: 32px;
                }

                .add-btn{
                    background-color: #e8e7e7;
                    border-radius: 8px;
                    text-align: center;
                    height: 32px;
                }

                .settings {
                    img {
                        margin-right: -11px;
                        width: 24px;
                        height: 24px;
                    }
                }

                h2 {
                    margin-left: 56px;
                    margin-right: 14px;
                }
            }

            .counts {
                display: flex;
                flex-direction: column;

                .details-about-user {
                    display: flex;
                    flex-direction: row;

                    span {
                        font-weight: 600;
                    }

                    h4 {
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                        font-size: 16px;
                        text-align: center;
                        font-weight: 400;
                        margin-left: 12px;

                        .count-post {
                            padding-right: 5px;
                        }


                        margin-right: 20px;

                        .count-followers {
                            padding-right: 5px;
                        }


                        .count-following {
                            padding-right: 2px;
                        }

                    }

                }

                .fullname-of-user {
                    h4 {
                        font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        margin-top: -16px;
                        margin-left: -151px;

                    }


                }



            }

        }

        .user-button {
            width: 150px;
            height: 150px;

            img {
                border-radius: 50%;
                object-fit: cover;
            }

        }

        .info {
            display: flex;
            align-items: center;


            h2 {
                margin-right: auto;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
                font-weight: 400;
                font-size: 20px;
                &.current-user {
                    margin-left: 14px; // specific margin for current user
                  }
                  &.other-user {
                    margin-left: 20px; // specific margin for other user
                  }

            }

            .settings img {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        .counts {
            display: flex;
            gap: 0.625rem;
            align-items: center;
            .fullname-of-user{
                h4{
                    margin-left: -147px;
                    margin-top: -16px;
                }
            }
        }

    }
}