.user-upper-part {
    display: flex;

    .internal-user-upper-part {
        display: flex;
        margin-left: 15rem;
        width: 100%;
        border-bottom: 0.125em gray solid;

        .info-container {
            display: flex;
            flex-direction: column;
        }

        .user-button {
            width: 8rem;

            img {
                border-radius: 50%;
                object-fit: cover;
            }

        }

        .info {
            display: flex;
            align-items: center;


            h2 {
                margin-right: auto;
            }

            .settings img {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        .counts {
            display: flex;
            gap: 0.625rem;
            align-items: center;
        }

    }
}