.user-upper-part {
    .internal-user-upper-part {
        display: flex;
        flex-direction: row;
   


        .user-button {
            width: 8rem;
            margin-left: 25rem;
        }

        .info {
            display: flex;
            align-items: center;
            gap: 0.625rem;
          

            h2 {
                margin-right: auto;
            }

            .settings img {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        .counts {
            display: flex;
            gap:0.625rem;
            align-items: center;
            

           
        }

    }




}