.user-pst {
    .user-pst-preview {
        position: relative;


        .prev-icons {
            position: absolute;


        }
    }

    img {
        .like{
   width: 4px;
        height: 4px
        }
     ;
    }
}