.loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .instaLogo {
    width: 6rem;
    margin-top: 22rem;
  }
  
  .fromMeta {
    width: 4rem;
    margin-top: 24rem; 
  }
  