.pst-Preview {
    width: 29.375rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-style: normal;
    // font-weight: 600;
     margin-inline: auto;
    margin-top: 14.625rem;
    font-weight:normal;

    .info-start {
        display: flex;
        justify-content: space-between;
        .info-start-content{
            display: flex;
        }
        .profile-prev {
            width: 3rem;
            border-radius: 50%;
            margin-bottom: 1rem;
            margin-right: 0.8rem;

         
          
        }

        h2{
            font-weight: normal;
            font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
        }
        .three-dot-icon {
            margin-left: 15rem;
        }

        .timeWhenUpload {
            margin-left: 0.5rem;
        }

    }

    .actions-btn {
        display: flex;
        flex-direction: row;
        background-color: transparent;

        button {
            background-color: transparent;
            cursor: pointer;
            border: none;
            width: 2rem;
            margin-top: 0.3rem;
        }

        .save {
            margin-left: 21rem;
        }

        



    }

    .comment-text-area {
        .comment-input-container{
            display: flex;
            justify-content: space-between;
        }
        .view-all-comments{
            padding: 0;
        }
        .empjiPostbtn{
            margin-left: 8rem;
            .emjoi-btn{
                width:1rem;
            }
     
        }

 
     

    }

}