* {
    box-sizing: border-box;
}



html {
    // font-family: montserrat;
    // line-height: 1.6;
}

// body {
//     font-size: rem(18px);
//     margin: 0;
//     max-width: 1024px;
//     margin: auto;
// }

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

input{
    border: none;
    outline: none;
    resize: none;
}







